<a href="https://colab.research.google.com/github/Redwoods/pdm00/blob/master/py-pandas/pandas_2_handling_df.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Python module 3. **pandas**

# Using pandas

* [10 Minutes to pandas](https://pandas.pydata.org/pandas-docs/stable/10min.html)
* [Pandas tutorial with interactive exercises](https://www.kaggle.com/pistak/pandas-tutorial-with-interactive-exercises)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# %matplotlib inline  # work for Jupyter notebook or lab



---

## [2] Handling DataFrame
- head()
- tail()
- describe()
- info()

In [2]:
# Creating a DataFrame by passing a NumPy array, with a datetime index and labeled columns:
dates = pd.date_range('20210927', periods=6)
dates

DatetimeIndex(['2021-09-27', '2021-09-28', '2021-09-29', '2021-09-30',
               '2021-10-01', '2021-10-02'],
              dtype='datetime64[ns]', freq='D')

In [5]:
# head()
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df.head(7)

                   A         B         C         D
2021-09-27 -1.936368  0.310308 -0.367460 -0.211986
2021-09-28 -0.622858 -0.135020 -1.009048  1.549242
2021-09-29 -0.502944  0.765169 -0.358239 -0.623653
2021-09-30 -0.434185  2.503601 -0.502349  1.962820
2021-10-01 -0.408561 -2.035517  1.669802 -0.106490
2021-10-02  0.139703  0.974525  0.413438  0.170172

In [6]:
df.head(2)

                   A         B         C         D
2021-09-27 -1.936368  0.310308 -0.367460 -0.211986
2021-09-28 -0.622858 -0.135020 -1.009048  1.549242

In [7]:
df.tail(3)

                   A         B         C         D
2021-09-30 -0.434185  2.503601 -0.502349  1.962820
2021-10-01 -0.408561 -2.035517  1.669802 -0.106490
2021-10-02  0.139703  0.974525  0.413438  0.170172

In [8]:
# Display the index, columns, and the underlying NumPy data:
df.index

DatetimeIndex(['2021-09-27', '2021-09-28', '2021-09-29', '2021-09-30',
               '2021-10-01', '2021-10-02'],
              dtype='datetime64[ns]', freq='D')

In [9]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6 entries, 2021-09-27 to 2021-10-02
Freq: D
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       6 non-null      float64
 1   B       6 non-null      float64
 2   C       6 non-null      float64
 3   D       6 non-null      float64
dtypes: float64(4)
memory usage: 240.0 bytes

In [11]:
# describe() shows a quick statistic summary of your data:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.627535  0.397178 -0.025643  0.456684
std    0.693192  1.490943  0.947536  1.046483
min   -1.936368 -2.035517 -1.009048 -0.623653
25%   -0.592880 -0.023688 -0.468627 -0.185612
50%   -0.468564  0.537738 -0.362849  0.031841
75%   -0.414967  0.922186  0.220519  1.204474
max    0.139703  2.503601  1.669802  1.962820

In [12]:
df.describe().T

   count      mean       std       min       25%       50%       75%       max
A    6.0 -0.627535  0.693192 -1.936368 -0.592880 -0.468564 -0.414967  0.139703
B    6.0  0.397178  1.490943 -2.035517 -0.023688  0.537738  0.922186  2.503601
C    6.0 -0.025643  0.947536 -1.009048 -0.468627 -0.362849  0.220519  1.669802
D    6.0  0.456684  1.046483 -0.623653 -0.185612  0.031841  1.204474  1.962820

In [13]:
df

                   A         B         C         D
2021-09-27 -1.936368  0.310308 -0.367460 -0.211986
2021-09-28 -0.622858 -0.135020 -1.009048  1.549242
2021-09-29 -0.502944  0.765169 -0.358239 -0.623653
2021-09-30 -0.434185  2.503601 -0.502349  1.962820
2021-10-01 -0.408561 -2.035517  1.669802 -0.106490
2021-10-02  0.139703  0.974525  0.413438  0.170172

In [14]:
# Transposing your dataframe:
df.T

   2021-09-27  2021-09-28  2021-09-29  2021-09-30  2021-10-01  2021-10-02
A   -1.936368   -0.622858   -0.502944   -0.434185   -0.408561    0.139703
B    0.310308   -0.135020    0.765169    2.503601   -2.035517    0.974525
C   -0.367460   -1.009048   -0.358239   -0.502349    1.669802    0.413438
D   -0.211986    1.549242   -0.623653    1.962820   -0.106490    0.170172

In [15]:
df.T.index

Index(['A', 'B', 'C', 'D'], dtype='object')

### Sorting

#### Sort by index
- sort_index(axis=0, ascending=False)
- sort_index(axis=1, ascending=False)

> Axis=0 Column-Wise Operation (수직으로)

> Axis=1 Row-Wise Operation (수평으로)

In [16]:
df

                   A         B         C         D
2021-09-27 -1.936368  0.310308 -0.367460 -0.211986
2021-09-28 -0.622858 -0.135020 -1.009048  1.549242
2021-09-29 -0.502944  0.765169 -0.358239 -0.623653
2021-09-30 -0.434185  2.503601 -0.502349  1.962820
2021-10-01 -0.408561 -2.035517  1.669802 -0.106490
2021-10-02  0.139703  0.974525  0.413438  0.170172

In [18]:
# Sorting by an axis:
df, df.sort_index(axis=0, ascending=False)

(                   A         B         C         D
 2021-09-27 -1.936368  0.310308 -0.367460 -0.211986
 2021-09-28 -0.622858 -0.135020 -1.009048  1.549242
 2021-09-29 -0.502944  0.765169 -0.358239 -0.623653
 2021-09-30 -0.434185  2.503601 -0.502349  1.962820
 2021-10-01 -0.408561 -2.035517  1.669802 -0.106490
 2021-10-02  0.139703  0.974525  0.413438  0.170172,
                    A         B         C         D
 2021-10-02  0.139703  0.974525  0.413438  0.170172
 2021-10-01 -0.408561 -2.035517  1.669802 -0.106490
 2021-09-30 -0.434185  2.503601 -0.502349  1.962820
 2021-09-29 -0.502944  0.765169 -0.358239 -0.623653
 2021-09-28 -0.622858 -0.135020 -1.009048  1.549242
 2021-09-27 -1.936368  0.310308 -0.367460 -0.211986)

In [20]:
df,df.sort_index(axis=1) #, ascending=False)

(                   A         B         C         D
 2021-09-27 -1.936368  0.310308 -0.367460 -0.211986
 2021-09-28 -0.622858 -0.135020 -1.009048  1.549242
 2021-09-29 -0.502944  0.765169 -0.358239 -0.623653
 2021-09-30 -0.434185  2.503601 -0.502349  1.962820
 2021-10-01 -0.408561 -2.035517  1.669802 -0.106490
 2021-10-02  0.139703  0.974525  0.413438  0.170172,
                    A         B         C         D
 2021-09-27 -1.936368  0.310308 -0.367460 -0.211986
 2021-09-28 -0.622858 -0.135020 -1.009048  1.549242
 2021-09-29 -0.502944  0.765169 -0.358239 -0.623653
 2021-09-30 -0.434185  2.503601 -0.502349  1.962820
 2021-10-01 -0.408561 -2.035517  1.669802 -0.106490
 2021-10-02  0.139703  0.974525  0.413438  0.170172)

#### Sort by value
- sort_values(by='column')

In [21]:
# Sorting by values:
df,df.sort_values(by='B') #, ascending=False)

(                   A         B         C         D
 2021-09-27 -1.936368  0.310308 -0.367460 -0.211986
 2021-09-28 -0.622858 -0.135020 -1.009048  1.549242
 2021-09-29 -0.502944  0.765169 -0.358239 -0.623653
 2021-09-30 -0.434185  2.503601 -0.502349  1.962820
 2021-10-01 -0.408561 -2.035517  1.669802 -0.106490
 2021-10-02  0.139703  0.974525  0.413438  0.170172,
                    A         B         C         D
 2021-10-01 -0.408561 -2.035517  1.669802 -0.106490
 2021-09-28 -0.622858 -0.135020 -1.009048  1.549242
 2021-09-27 -1.936368  0.310308 -0.367460 -0.211986
 2021-09-29 -0.502944  0.765169 -0.358239 -0.623653
 2021-10-02  0.139703  0.974525  0.413438  0.170172
 2021-09-30 -0.434185  2.503601 -0.502349  1.962820)

## indexing and slicing of DataFrame

#### Selecting data by indexing and slicing
- indexing
- slicing

In [22]:
# Selecting a single column, which yields a Series
df['A']

2021-09-27   -1.936368
2021-09-28   -0.622858
2021-09-29   -0.502944
2021-09-30   -0.434185
2021-10-01   -0.408561
2021-10-02    0.139703
Freq: D, Name: A, dtype: float64

In [23]:
# Selecting via [], which slices the rows.
df[0:3]

                   A         B         C         D
2021-09-27 -1.936368  0.310308 -0.367460 -0.211986
2021-09-28 -0.622858 -0.135020 -1.009048  1.549242
2021-09-29 -0.502944  0.765169 -0.358239 -0.623653

In [25]:
df['20210927':'20211001'] # 인덱스가 아닌 값인 경우는 지정된 범위가 다 선택된다.

                   A         B         C         D
2021-09-27 -1.936368  0.310308 -0.367460 -0.211986
2021-09-28 -0.622858 -0.135020 -1.009048  1.549242
2021-09-29 -0.502944  0.765169 -0.358239 -0.623653
2021-09-30 -0.434185  2.503601 -0.502349  1.962820
2021-10-01 -0.408561 -2.035517  1.669802 -0.106490

#### Selecting data by label [중요!!]

> **loc, iloc**

In [26]:
df

                   A         B         C         D
2021-09-27 -1.936368  0.310308 -0.367460 -0.211986
2021-09-28 -0.622858 -0.135020 -1.009048  1.549242
2021-09-29 -0.502944  0.765169 -0.358239 -0.623653
2021-09-30 -0.434185  2.503601 -0.502349  1.962820
2021-10-01 -0.408561 -2.035517  1.669802 -0.106490
2021-10-02  0.139703  0.974525  0.413438  0.170172

In [27]:
dates[0]

Timestamp('2021-09-27 00:00:00', freq='D')

In [28]:
df.loc[dates[0]]   # loc()

A   -1.936368
B    0.310308
C   -0.367460
D   -0.211986
Name: 2021-09-27 00:00:00, dtype: float64

In [29]:
# Selecting on a multi-axis by label:
df.loc[:,['A','B']]

                   A         B
2021-09-27 -1.936368  0.310308
2021-09-28 -0.622858 -0.135020
2021-09-29 -0.502944  0.765169
2021-09-30 -0.434185  2.503601
2021-10-01 -0.408561 -2.035517
2021-10-02  0.139703  0.974525

#### [DIY: 도전코딩]

> Select data for first two days AND column 3,4 from df using loc[].

In [32]:
# df.loc[0:2,['C','D']]
# df.loc['20210927':'20210928',['C','D']]
df.loc[dates[:2],['C','D']]

                   C         D
2021-09-27 -0.367460 -0.211986
2021-09-28 -1.009048  1.549242

#### Selecting data by position (iloc())
- index 사용

In [33]:
df

                   A         B         C         D
2021-09-27 -1.936368  0.310308 -0.367460 -0.211986
2021-09-28 -0.622858 -0.135020 -1.009048  1.549242
2021-09-29 -0.502944  0.765169 -0.358239 -0.623653
2021-09-30 -0.434185  2.503601 -0.502349  1.962820
2021-10-01 -0.408561 -2.035517  1.669802 -0.106490
2021-10-02  0.139703  0.974525  0.413438  0.170172

In [34]:
df.iloc[3]  # 결과는 차원축소형으로 표현됨.

A   -0.434185
B    2.503601
C   -0.502349
D    1.962820
Name: 2021-09-30 00:00:00, dtype: float64

In [35]:
# [다시 도전]
# Select data for first two days AND comumn 3,4 from df.
# Use iloc
df.iloc[:2,2:4]

                   C         D
2021-09-27 -0.367460 -0.211986
2021-09-28 -1.009048  1.549242

In [36]:
# Select one item
df.iloc[1,1]

-0.13501966390938963

In [38]:
# [DIY: 다시 도전]
# Select data for first three days from df
# Your code
df.iloc[:3,:]

                   A         B         C         D
2021-09-27 -1.936368  0.310308 -0.367460 -0.211986
2021-09-28 -0.622858 -0.135020 -1.009048  1.549242
2021-09-29 -0.502944  0.765169 -0.358239 -0.623653

#### Selecting data by Boolean indexing

In [39]:
df

                   A         B         C         D
2021-09-27 -1.936368  0.310308 -0.367460 -0.211986
2021-09-28 -0.622858 -0.135020 -1.009048  1.549242
2021-09-29 -0.502944  0.765169 -0.358239 -0.623653
2021-09-30 -0.434185  2.503601 -0.502349  1.962820
2021-10-01 -0.408561 -2.035517  1.669802 -0.106490
2021-10-02  0.139703  0.974525  0.413438  0.170172

In [41]:
df > 0

                A      B      C      D
2021-09-27  False   True  False  False
2021-09-28  False  False  False   True
2021-09-29  False   True  False  False
2021-09-30  False   True  False   True
2021-10-01  False  False   True  False
2021-10-02   True   True   True   True

In [42]:
df[df.A > 0]

                   A         B         C         D
2021-10-02  0.139703  0.974525  0.413438  0.170172

In [43]:
df[df > 0]

                   A         B         C         D
2021-09-27       NaN  0.310308       NaN       NaN
2021-09-28       NaN       NaN       NaN  1.549242
2021-09-29       NaN  0.765169       NaN       NaN
2021-09-30       NaN  2.503601       NaN  1.962820
2021-10-01       NaN       NaN  1.669802       NaN
2021-10-02  0.139703  0.974525  0.413438  0.170172